body {
  overflow-x: hidden;
}

.test {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  z-index: 5;
}

.test::after {
  background-color: aquamarine;
  width: 120%;
  height: 150px;
  display: block;
  content: "";
  position: absolute;
  bottom: -65px;
  left: -50px;
  rotate: 3deg;
  z-index: 99999;
}

.test span,
.test2 span {
  padding: 20px;
  z-index: 4;
}

.test2 {
  background-color: beige;
  display: flex;
  flex-direction: column;
  padding: 100px 20px 20px 20px;
  position: relative;
  z-index: 3;
}
